body {
    margin: auto;font-family: 'Open Sans', sans-serif;
}
.container {
    margin: 0 166px;
}
.header {
    background: url("../img/header-bg-min.png") 0 0 no-repeat;
    height: 800px;
    width: 1440px;
    background-size: cover;
    display: block;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
}
.navitev {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 25px;
}

.cart {
    border-right: 1px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;
}

.cartimg {
    position: absolute;
    top: 20px;

}